.ppressgci-row {
    margin-top: 1rem;
}

.ppressgci-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.ppressgci-controls {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
}

#ppressgci-base-email {
    flex: 1 1 250px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ppressgci-btn {
    padding: 12px 16px!important;
    background-color: var(--ppress-btn-color, #2563EB)!important;
    color: #fff!important;
    border: none;
    border-radius: 6px!important;
    font-weight: 500;
    cursor: pointer!important;
    white-space: nowrap!important;
    border-color: var(--ppress-btn-color, #2563EB)!important;
}

.ppressgci-btn:hover {
    background-color: #183F99!important;
}

@media (max-width: 480px) {
    .ppressgci-controls {
        flex-direction: column;
        align-items: stretch;
    }

    .ppressgci-btn {
        width: 100%;
    }
}
